@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), ui-sans-serif, system-ui, -apple-system, sans-serif;
}